{% extends 'layouts/base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="d-flex align-items-center mt-2">
    <a href="{{url_for('books.home')}}" class="btn btn-secondary">Back</a>
    <h1 class="flex-grow-1 text-center">Category Home</h1>
    <a href="{{url_for('category.addCategory')}}" class="btn btn-secondary">Add New Category</a>
</div>

<br/><br/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
         <th scope="col">Description</th>
        <th scope="col" >Action</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
    <tr>
        <th scope="row">{{category.id}}</th>
        <td>{{category.name}}</td>
         <td>{{category.description}}</td>
        <td>
            <a href="{{url_for('books.home')}}" class="btn btn-primary">Update</a>
            <a href="{{url_for('category.delete', id = category.id)}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
